/* Full screen center */

.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    font-family: Arial, sans-serif;
}


/* Card */

.login-card {
    background: white;
    padding: 40px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}


/* Title */

.login-card h2 {
    margin-bottom: 25px;
    color: #333;
}


/* Inputs */

.login-card input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: 0.3s;
}

.login-card input:focus {
    border-color: #4e73df;
    outline: none;
    box-shadow: 0 0 5px rgba(78, 115, 223, 0.4);
}


/* Button */

.login-card button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4e73df;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.login-card button:hover {
    background-color: #2e59d9;
}


/* Error text */

.error-text {
    color: red;
    font-size: 13px;
    margin-top: 10px;
}